body {
  padding: 80px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



.flat-list li {
	position: relative;
	display: block;
	margin-bottom: 30px;
}

.flat-list li:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.flat-list li .thumb {
	float: left;
	width: 200px;
	margin-right: 10px;
}

.flat-list li h3 {
	display: inline;
	font-size: 18px;
	line-height: 1.5em;
}

.flat-list li .price {
	position: absolute;
	right: 10px;
	bottom: 0px;
	font-size: 24px;
	font-weight: bold;
}

.flat-list li .added-date {
	position: absolute;
	left: 220px;
	bottom: 24px;
	font-size: 14px;
}

.flat-list li .available-date {
	position: absolute;
	left: 220px;
	bottom: 0px;
	font-size: 18px;
}



#map .thumb {
	float: left;
	width: 200px;
	margin-right: 10px;	
}

#map h3 {
	display: inline;
	font-size: 18px;
	line-height: 1.5em;
}

#map h3 a{
	font-size: inherit;
	line-height: inherit;
}

#map .price {
	position: absolute;
	right: 0px;
	bottom: 5px;
	font-size: 20px;
	font-weight: bold;
}


#map .available-date {
	position: absolute;
	left: 210px;
	bottom: 5px;
	font-size: 18px;
}